@model List<VueloModel>
@{
    ViewData["Title"] = "BuscarVuelos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
  <div class="card-header">
    Lista Vuelos Disponibles por la búsqueda
  </div>
  <div class="card-body">
     <!--<a asp-action= "BuscarVuelos" asp-controller="Vuelo" class="btn btn-success">Crear Nuevo</a>-->
     <hr/>
     <table class = "table table-bordered">
         <thead>
             <tr>
                 <th>Codigo Vuelo</th>
                 <th>Nombre Vuelo</th>
                 <th>Fecha Vuelo</th>
                 <th>Duración Vuelo</th>
                 <th>Pais Origen</th>
                 <th>Aeropuerto Origen</th>
                 <th>Pais Destino</th>
                 <th>Aeropuerto Destino</th>
                 <th>ValorDestino</th>
                 <th>NombreClase</th>
                 
             </tr>
         </thead>
         <tbody>
             @foreach (var item in Model)
             {
                 <tr>
                     <td>@item.CodVuelo</td>
                     <td>@item.NombreVuelo</td>
                     <td>@item.FechaVuelo</td>
                     <td>@item.DuracionVuelo</td>
                     <td>@item.PaisOrigen</td>
                     <td>@item.AeropuertoOrigen</td>
                     <td>@item.PaisDestino</td>
                     <td>@item.AeropuertoDestino</td>
                     <td>@item.ValorDestino</td>
                     <td>@item.NombreClase</td>
                 </tr>
             }
         </tbody>
     </table>

      <a asp-action= "Listar" asp-controller="Vuelo" class="btn btn-warning">Volver a la lista</a>

  </div>


  
<div class="container">

    <table class = "table table-bordered">
         <thead>
             <tr>
                 <th>Codigo Vuelo</th>
                 <th>Detalle Vuelo</th>
             </tr>
         </thead>
         <tbody>
             @foreach (var item in Model)
             {
                 <tr>
                     <td>@item.CodVuelo </td>
                     
                     <td>
                       <div class="card-deck mb-3 text-center">
                        <div class="card mb-4 shadow-sm">
                          
                            <div class="card-header">
                            <h4 class="my-0 font-weight-normal">@item.NombreClase</h4>
                          </div>
                         
                          <div class="card-body">
                            <h1 class="card-title pricing-card-title">Precio: @item.ValorDestino <small class="text-muted">/ Ida y Vuelta</small></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                              <li>Destino: @item.PaisDestino </li>
                              <li>Fecha: @item.FechaVuelo</li>
                              <li>Tipo: @item.NombreVuelo</li>
                              <li>Precio: @item.ValorDestino</li>
                            </ul>
                            <!--<button type="button" class="btn btn-lg btn-block btn-outline-primary">Seleccionar</button>-->
                            <a asp-action= "Guardar" asp-controller="Reserva" class="btn btn-lg btn-block btn-outline-primary" asp-route-CodVuelo= "@item.CodVuelo">Seleccionar</a>
                          </div>

                        </div>
                      
                     </div>
                     </td>

                 </tr>
             }
         </tbody>
     </table>



</div>


</div>


