@model List<RangoEquipajeModel> 
@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-header">
        Lista Rangos Equipaje
    </div>
    <div class="card-body">
        <a asp-action="Guardar" asp-controller="RangoEquipaje" class="btn btn-success">Crear Nuevo</a>
        <hr />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Codigo Rango</th>
                    <th>Peso Inicio</th>
                    <th>Peso Fin</th>
                    <th>Valor Equipaje</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.CodRangoEquipaje</td>
                        <td>@item.PesoInicio</td>
                        <td>@item.PesoFin</td>
                        <td>@item.ValorEquipaje</td>

                        <td>
                            <a asp-action="Editar" asp-controller="RangoEquipaje" class="btn btn-success" asp-route-CodRangoEquipaje="@item.CodRangoEquipaje">Editar</a>
                        </td>
                        <td>
                            <a asp-action="Eliminar" asp-controller="RangoEquipaje" class="btn btn-danger" asp-route-CodRangoEquipaje="@item.CodRangoEquipaje">Eliminar</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
</div>

